# Python
__pycache__/
*.py[cod]
*$py.class
*.pyo

# Environments
.env
venv/
env/

# Django stuff
# db.sqlite3
/staticfiles/
media/

# VSCode and system
.vscode/
.idea/
.DS_Store

# Migrations cache
**/migrations/__pycache__/
**/migrations/*.pyc

# Node modules (if any)
node_modules/
